<div class='container'>

    <!-- Main component for a primary marketing message or call to action -->
    <div class='jumbotron'>
        <h1>Great Library Project</h1>

        <p>
            Great Library Project is to build a platform to share ideas on all sort of programming issues.
            We can ask, answer and share solutions among other programmers with remarkably easy and beautiful way.
        </p>

        <p> Current members of this project is below. </p>

        <p>
           안지성, 김선중, 박상기, 이은묵, 윤성민, 안명선
        </p>
        <p>
            <a class='btn btn-lg btn-primary' href='../../components/#navbar' role='button'>View navbar docs &raquo;</a>
        </p>
    </div>

</div>